.eachmovie{
    background-color: rgba(26, 7, 145, 0.918);
    border-radius: 10px;
    margin: 15px auto;
    padding-top: 5px;
    list-style-type: none;
    width:80%;
}

.backdrop{
    margin: auto;
    margin-top: 10px;
    background-color: rgb(221, 228, 234);
    border-radius: 20px;
    max-width: 600px;

    
}

li{
    color: antiquewhite;
}